@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
  --hue: 162;
  --first-color: hsl(var(--hue), 80%, 40%);
  --first-color-alt: hsl(var(--hue), 56%, 35%);
  --title-color: hsl(228, 8%, 95%);
  --text-color: hsl(228, 8%, 65%);
  --body-color: hsl(228, 15%, 20%);
  --container-color: hsl(228, 15%, 15%);


  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  --biggest-font-size: 2rem;
  --bigger-font-size: 1.25rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  color: var(--title-color);
  font-size: 1.75rem;
}

h1 {
  color: var(--title-color);

}

body {
  height: 100vh;
  background-color: var(--body-color);
  max-width: 1490px;
}

.outer_container{
  display: grid;
  align-items: center;
  justify-content: center;
}

header {
  position: fixed;
  height: 3.5rem;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  padding-left: 1.5rem;
}

img {
  max-width: 100%;
  height: auto;
}

.section {
  padding-block: 1.25rem;
}

.nav {
  width: 100%;
  height: 60px;
  max-width: 1490px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;

}

.blur-header {
  background-color: transparent;
}

.blur-header::after {
  content: "";
  position: absolute;
  width: 1000%;
  height: 100%;
  background-color: hsla(0, 0%, 10%, .3);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
  top: 0;
  left: 0;
  z-index: -1;
}


.nav__logo {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--title-color);
  text-decoration: none;
}

.nav__logo span {
  color: var(--first-color);
}

.nav__link {
  color: var(--title-color);
  font-weight: var(--font-medium);
  transition: .4s;

}

a {
  text-decoration: none;
}

.nav__link:hover {
  color: var(--first-color)
}

.nav__list {
  display: flex;
  gap: 2rem;
  list-style-type: none;

}



.nav__toggle {
  display: none;
  font-size: 1.25rem;
  color: var(--title-color);
  cursor: pointer;

}



/* DROPDOW MENU */
.nav__menu_phone {
  position: absolute;
  right: 2rem;
  top: 40px;
  width: 300px;
  background-color: hsla(0, 0%, 10%, .3);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
  border-radius: 10px;
  overflow: hidden;
  height: 0;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


.nav__link_phone {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--title-color);
  transition: .4s;

}

.nav__link_phone:hover {
  color: var(--first-color)
}

/* Responsivness */
@media(max-width: 1024px) {
  .nav__list {
    display: none;
  }

  .nav__toggle {
    display: block;
  }
}

.nav_menu_phone_open {
  height: 240px;
}

.home__container {
  display: grid;
  row-gap: 2.5rem;
  margin-top: 2rem;
  
}

.home__content {
  display: grid;
  row-gap: 2rem;
}

.home__data {
  text-align: center;
}

.home__subtitile,
.home__education {
  font-size: var(--bigger-font-size);

  color: var(--title-color);
}

p {
  color: var(--text-color);
}



.home__subtitile span,
.home__title {
  color: var(--first-color);
}

.home__title {
  font-size: var(--biggest-font-size);

}

.home__description {
  margin-block: 1rem 1.5rem;
  color: var(--title-color);
  padding-left: 1rem;
}


.home__social {
  display: flex;
  justify-content: center;
  column-gap: 1.25rem;

}

.home__social-link {
  display: flex;
  background-color: var(--first-color);
  padding: .5rem;
  color: var(--title-color);
  font-size: 1.5rem;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  transition: transform .4s;
}

.home__social-link:hover {
  transform: translateY(-.5rem);
}

.home__image {
  justify-self: center;
}

.home__blob {
  width: 320px;
  fill: var(--first-color);
  filter: drop-shadow(0 12px 12px hsla(var(--hue), 100%, 40%, .2));
}

.home__img {
  width: 900px;
  transform: translateX(-120px);
}


/*education*/

.section__subtitle {

  color: var(--title-color);
}

.section__subtitle span {
  color: var(--first-color);
}

.section__titile {
  color: var(--title-color);
  margin-bottom: 15px;
}

.education__data {
  text-align: center;
  
}

.edu__container {
  display: grid;
  row-gap: 2rem;
  padding-block: 1rem;
  max-width: 1120px;
  margin-inline: 1.5rem;
 
 
}

.education__container{
  
  padding: 25px;
  
}

.edu__item {
  color: var(--title-color);
  font-size: var(--font-medium);
  position: relative; /* Ensure z-index works properly */
  z-index: 1; /* Ensure the text is above the overlay */
}

.edu__item span {
  color: var(--first-color);
  z-index: 2;
}

.edu_group {
  list-style: none;
  border-radius: 1rem;
  border: 2px solid var(--first-color);
  font-size: 1.1rem;
 
  
}

.edu_group li {
  padding: .5rem; 
  
}

.school__info{
  color: var(--title-color);
  padding: .2rem;
  position: relative; /* Ensure z-index works properly */
  z-index: 1; /* Ensure the text is above the overlay */
}

#pgee{
  
  background-image: url('../pic/161816083_213280603920224_6452851280462859824_n.jpg');
  background-size: cover;
  background-position:center;
  position: relative;
  
}

#fontys
{
  background-image: url('../pic/cThrox4Zv5vBH6fjyfFEoeBxi1ujHpoh0LOSa0fX.jpeg');
  background-size: cover;
  background-position: center;
  position: relative;
  
}
#pgee::after,
#fontys::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.7); /* Adjust the alpha value to control the darkness (0 is fully transparent, 1 is fully opaque) */
  z-index: 0; /* Ensure the overlay is behind the text */
}

/*skilss*/

.skills {
  text-align: center;
}

.skills__container {
  display: grid;
  row-gap: 2rem;
  padding-block: 1rem;
  
  max-width: 1120px;
  margin-inline: 1.5rem;

}

#framework__group{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.skills_card {
  text-align: center;
  background-color: var(--container-color);
  padding: 3rem 1.25rem;

  border-radius: 1rem;
  border: 2px solid var(--container-color);
  transition: border .4s;
}

.skills__icon {
  display: block;
  font-size: 4rem;
  color: var(--first-color);
  margin-bottom: .75rem;
}

.skills_card:hover {
  border: 2px solid var(--first-color);
}

.skills__item {
  list-style-type: none;
  color: var(--title-color);
}





/*experience*/

.experience__data {
  text-align: center;
  display: grid;
  row-gap: 2rem;
}

.exp__group {
  display: grid;
  row-gap: 2rem;
}

.exp__item span {
  color: var(--first-color);
}

.exp__item,
.text__info p {
  color: var(--title-color);
}


.name__date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--container-color);
  border: 2px solid var(--first-color);
  max-width: 1120px;
  margin-inline: 1.5rem;
  list-style-type: none;
  
}



/*projects*/

.projects {
  background-color: var(--container-color);
}

.section__title{
  display: flex;
  justify-content: center;
}

.projects__container {
  display: grid;
  row-gap: 2rem;
  justify-content: center;
  padding-block: 1rem;
}

.projects__card {
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
  
}

.projects__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.projects__modal {
  position: absolute;
  left: 0;
  bottom: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, hsla(0, 0%, 0%, 0)0%, hsla(var(--hue), 70%, 40%, .8)120%);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: bottom .4s;
}

.projects__subtitle,
.projects__button {
  color: var(--title-color);
  font-size: var(--font-semi-bold);
}

.projects__subtitle {
  display: block;
  margin-bottom: .25rem;
}

.projects__title {
  margin-bottom: .75rem;
}

.projects__button {
  display: flex;
  align-items: center;
  column-gap: .5rem;
  cursor: pointer;
}

.projects__button i {
  font-size: 1.25rem;
}

.projects__card:hover .projects__modal {
  bottom: 0;
}

/*footer*/

.footer {
  padding-block: 3.5rem 2rem;
  background-color: var(--container-color);
}

.footer__container {
  
  display: flex;
  justify-content: center;
  column-gap: 1.25rem;
  flex-direction: row;
  row-gap: 2rem;
  text-align: center;
  align-items: center;
}


.font__title {
  font-size: 2.25rem;
  font-weight: var(--font-semi-bold);
  margin-bottom: .25rem;
}

.footer__title span {
  color: var(--first-color);
}

.footer__education {
  font-size: .938rem;
}

.footer__social {
  display: flex;
  justify-content: center;
  column-gap: 1.25rem;
}

.footer__social-link {
  display: flex;
  background-color: var(--first-color-alt);
  padding: .5rem;
  color: var(--title-color);
  font-size: 1.5rem;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  transition: transform .4s;

}

.footer__social-link:hover {
  transform: translateY(-.25rem);
}


/*scroll bar*/

::-webkit-scrollbar {
  width: .6rem;
  border-radius: .5rem;
  background-color: hsl(228, 12%, 25%);
}

::-webkit-scrollbar-thumb {

  border-radius: .5rem;
  background-color: hsl(228, 8%, 35%);
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(228, 8%, 45%);
}

/*active link*/

.active-link {
  color: var(--first-color);
}

/*break points*/
/*small devices*/
@media(max-width: 320px) {
  .container {
    margin-inline: 1rem;
    justify-content: center;
    grid-template-columns: 200px;
  }

  .home__container{
    padding-top: 20%;
  }

  .skills_card {
    padding-bottom: 1.5rem;
  }
  

}

/*medium devices*/
@media(min-width: 321px) {

  .home__container,
  .projects__container,
  .exp__group,
  .skills__container,
  .edu__container {
    grid-template-columns: 80%;
    justify-content: center;
  }

  .home__description {
    text-align: center;
  }

  .footer__container{
    display: block;
  }

}


/*medium devices*/
@media(min-width: 576px) {

  .home__container,
  .projects__container,
  .exp__group,
  .skills__container,
  .edu__container {
    grid-template-columns: 460px;
    justify-content: center;
  }

  .home__description {
    text-align: center;
  }


}

@media(min-width: 700px) {
  .home__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: center;
  }

  .home__description {
    text-align: center;
  }

  .home__blob {
    width: 400px;
  }

 
  .exp__group,
  .skills__container,
  .edu__container {
    grid-template-columns: repeat(2, 300px);
    column-gap: 2rem;
  }

  .projects__container{
    grid-template-columns: repeat(2, 300px);
    column-gap: 2rem;
  
  }

 
}

@media(min-width: 1024px) {

  .projects__container,
  .exp__group,
  .skills__container,
  .edu__container {
    grid-template-columns: repeat(2, 352px);
    column-gap: 2rem;
  }

  .home__container {
    text-align: center;
  }

  .footer__container{
    display: flex;
  }
 

}

@media(min-width: 1240px) {
  
  .edu__container,
  .skills__container,
  .exp__group,
  .projects__container{
    grid-template-columns: repeat(2, 500px);
    max-width:100%;
  }

  .skills__container{
    grid-template-columns: repeat(4, 280px);
  }

  .home__blob{
    width: 500px;
  } 

  #framework__group{
    display: block;
  }
}

@media(min-width: 1480px) {
  
  .edu__container{
    grid-template-columns: repeat(2, 500px);
    max-width:100%;
    display: flex;
    justify-content: space-around;
  }

  .skills__container{
    grid-template-columns: repeat(4, 310px);
  }

  #framework__group{
    display: block;
  }

  .home__blob{
    width: 500px;
  } 

  .exp__group{
    grid-template-columns: repeat(2, 600px);
    max-width:100%;
  }
}

.info__modal,
.info__modal_2{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) scale(0);
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 500px;
  max-width: 80%;

}

.info__modal.active,
.info__modal_2.active{
  transform: translate(-50%,-50%) scale(1);
}

.modal-header{
  padding: 5px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid var(--first-color);
  border-radius: 10px 10px 0 0;
}

.title{
font-size: 1.25rem;
font-weight: bold;
}

.close-button{
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--title-color);
}


.header__modal__body{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1.25rem;
  text-align: center;
  
}

.button__group i{
  font-size: 1.25rem;
  color: var(--title-color);
}

button{
  padding: 0.5rem;
}

.button_underline{
   text-decoration: none;
   color: black;
}

.modal-body{
  padding-top: 10px;
  background-color: var(--first-color);
  border-radius: 0  0 10px 10px;
}

.p__header_modal {
  color: var(--title-color);
  
}


#av-1,#dev-1 ,#date-1{
  font-size: x-large;
  color: white
}


#av-2,#dev-2{
  font-size: x-large;
  color: red
  
}

#date-2{
  font-size: x-large;
}

#av{
  font-size: x-large;
  color: red
}

#dev,#date{
  font-size: x-large;
}


.p__modal{
  text-align: center;
  color: black;
  padding: 10px;
}

.p__h1{
  text-align: center;
  padding: 10px;
}

.list_tech{
  padding: 10px;
  text-align: center;
}

.list_tech span{
  color: black;

}

#overlay{
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
  
}

#overlay.active{
  opacity: 1;
  pointer-events: all;
}


/* gallery for images in popup */
.info__modal{
  overflow-y: scroll;
  height: 80vh;
  background: var(--body-color);
  color: var(--title-color);
  
}


.gallery{
  width: 100%;
  display: flex;
  overflow-y: scroll;
  
}

.gallery .image-list{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 10px;
  flex: none;
  align-items: center;
}

.gallery .image-list img{
  
  width: 100%;
  height: auto;
  object-fit: cover;
  filter: grayscale(100%);
  transition: transform .5s;
}

.gallery::-webkit-scrollbar{
  display: none;
}

.gallery-wrap{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10% auto;
  width: 90%;
 
  overflow: hidden;
}

#backBtn, #nextBtn{
  position: absolute;
  top: 50%; 
  transform: translateY(-50%); 
  z-index: 10; 
  width: 30px;
  height: 30px; 
  cursor: pointer;
  font-size: 10px;
  border-radius: 100px;
  background: var(--first-color); 
}

#backBtn {
  left: 10px; 
}

#nextBtn {
  right: 10px;
}

.gallery .image-list img:hover{
  filter: grayscale(0);
  cursor: pointer;
  transform: scale(1.1);
}

.no-scroll {
  overflow: hidden;
  height: 100%;
}

